#logoBazar {
    width: 20%;
    height: 20%;
    min-height: 120px;
    min-width: 200px;
}

#barranav ul {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;

    a {
        color: #530d58;
    }
}